$TTL    1440
@       IN      SOA    {{ nameserver }}.{{ domain }}. admin.{{ domain }}. (
                  1     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
@                   IN      NS      {{ nameserver }}.{{ domain }}.

; name servers - A records
{{ nameserver }}                 IN      A       {{ ns_ip }}

; A records
{% for host in dns_hosts %}
{{ host.name }}.{{ fqdn }}.  IN  A {{ host.ip_addr }}
{% endfor %}

{% for host in virtual_machines %}
{{ host.vm_name }}.{{ fqdn }}.  IN  A {{ host.ip_addr }}
{% endfor %}


{% for host in dns_host_no_reverse %}
{{ host.name }}.{{ fqdn }}.  IN  A {{ host.ip_addr }}
{% endfor %}
