#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
users:
  - name: erik
    gecos: "Erik Kringen"
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    groups: wheel,adm,systemd-journal
    ssh_pwauth: True
    ssh_authorized_keys: 
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCjJTuTEMOYOemSPjOs2uQ/OBdITjHVop0UuuJMwIWsHP88ug3mBBARLeUzZfftwZl405swr5Gimh+Pb5YmUTSFpc5l7pQ6mkIeyQwi8VJui+l7sJN0YEwqK2Fli2vdMNcDhwKYo70cqY2b+lvyjW0Zo7tsBE9641BGFZreo043P+k5tGbIZ/j9UyYYpIcezxH0mdWjLSAIx8xg21mi8VZOLI/7nkaVqDOV/Rzy8R119AvWhzdEW+CEUdOZU698cZVI6P3865aV4zEp9dWfj650Ie2DNlV8CAB0fAIbHGFxolH9SIxN//atYbYedFgvOSeagLSyBurCMRcCnHqO9F2t3CII3EdNimDTQxRwsyci5HdLXbMjmSEDeFpBtdCGW6OdpzTijr7cJ9874c0pTLyUSIwNluhUEl0+QouERvXGf+HEUSPchkgAkRtdKUzbpw2CE77qi72C+4CkkIlgL36aHYm6ymPZPaHVJE+/lu1ujM0YZ4E7Imgn85PRoxWs5qM= erik@arcadia.lab.kringen.local
chpasswd:
  list: |
    erik:mypassword
  expire: False
hostname: "${hostname}.${domain}"
packages:
  - wget
  - python3-pip
bootcmd:
 - echo New MOTD >> /etc/motd
runcmd:
 - echo New MOTD2 >> /etc/motd
