# /etc/haproxy/haproxy.cfg


#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0 info
    log         /dev/log local1 notice
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    log                     global
    option                  httplog
    option                  dontlognull
    timeout                 connect 5000
    timeout                 client 50000
    timeout                 server 50000
    maxconn                 20000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    stats show-node
    stats show-desc Stats for reverse proxy
    stats auth {{ lookup('password', '/dev/null length=6 chars=ascii_letters') }}:{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}

{% for service in proxy_services_frontend %}
{{ service.service_comment }}
frontend {{ service.service_name }}
  bind *:{{ service.service_port }}
  mode {{ service.service_protocol }}
  {% for option in service.service_options %}
  option {{ option }}
  {% endfor %}
  default_backend {{ service.service_backend }}
{% endfor %}

{% for service in proxy_services_backend %}
{{ service.service_comment }}
backend {{ service.service_name }}
  {% for option in service.service_options %}
  option {{ option }}
  {% endfor %}
  balance {{ service.balance }}
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  {% for host in service.backend_hosts %}
  server {{ service.service_name }}-{{loop.index}} {{ host }}:{{ service.backend_port }} check
  {% endfor %}
{% endfor %}
